##################################
### UiPath Ignore Folders      ###
##################################
## Ignore .local folder
**/.local/**

## Ignore .settings folder
**/.settings/**

## Ignore .objects folder
**/.objects/**

## Ignore .tmh folder
**/.tmh/**

## Ignore .log folder
**/*.log
